{{#section 'head'}}
    <title>Detail - My Pokémon Story</title>
    <link rel="stylesheet" href="../public/css/detail.css">
{{/section}}

<button>Back</button>
    <div id = "allresult">
        <div id = "result">
            <div id = "leftBar">
                <div id = "imgDiv">
                    <p id = "pn"></p>
                    <img id = "pimage" src="">
                </div>
                <button id = "favoriteButton">Favorite</button>
                <button id = "listButton">Add to My List</button>
                <p style = "color:{{color}};">{{message}}</p>
                <div id = "selectForm"></div>
            </div>
            <div id = "descriptionDiv">
                <p>
                <span id = "pid" style = "font-family: 'Gill Sans Heavy'; font-size:30px; "> </span>  <span id = "pname" style = "font-family: 'Gill Sans Heavy'; font-size:30px; "> </span> <br>
                Type:   <span id = "ptype"> </span> <br>
                Ability: <span id = "pability"> </span> <br>
                Gender Ratio: <span id = "pgender"> </span> <br>
                Capture Rate: <span id = "pcapture"> </span> <br>
                Egg Groups: <span id = "pegg"> </span> <br>
                Initial Hatch Time: <span id = "phatch"> </span> <br>
                Height: <span id = "pheight"> </span> <br>
                Weight: <span id = "pweight"> </span> <br>
                Color: <span id = "pcolor"> </span> <br>
                Shape: <span id = "pshape"> </span> <br>
                Base Experience Gained When Capture: <span id = "pbase"> </span> <br>
                Level Growth Rate: <span id = "pgrowth"> </span> <br>
                </p>


                <p>Base Stats:</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Stats</th>
                                <th>Effort</th>
                            </tr>
                        </thead>
                        <tbody id = "pstats">    
                            <!--Example table 
                            <tr>
                                <td>1</td>
                                <td>Clark</td>
                                <td>Kent</td>
                                <td>clarkkent@mail.com</td>
                            </tr> -->         
                        </tbody>
                    </table>


                <p>
                Evolution Charts: <span id = "pevolution"></span>
                </p>
                <div id = "psprites">
            
                </div>
            </div>
        </div>
        <div id = "noResult"></div>
    </div>

{{#section 'footer'}}
    <script src="../public/js/detail.js"></script>
    <script type="text/javascript">
        const favoriteButton = document.getElementById('favoriteButton');
        const listButton = document.getElementById('listButton');
        listButton.onclick = () =>{
            {{#if user}}
                const selectForm = document.getElementById('selectForm');
                const urlQueryStrings = new URLSearchParams(window.location.search);
                const pokemonId = Number(urlQueryStrings.get('pId'));
                let selectString = `
                    <form method="POST" action="/detail?pId=${pokemonId}" style = "padding: 15px; font-size: 20px; width: 420px; color:rgb(56, 106, 187);">
                    <div>
                        <label for="list" style = "width:100%; text-align:left; display:block;">Select a Pokémon List:</label>
                        <select name="list" id="list" style = "width:100%;  border: 1px solid rgb(56, 106, 187); height: 40px;padding:5px;font-size: 20px;-webkit-text-fill-color:black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;border-radius: 10px;align-items: center; ">
                            {{#if list}}
                                {{#each list as |l|}}
                                <option value="{{_id}}">{{title}}</option>
                                {{/each}}
                            {{else}}
                                <option disabled>This is empty. Try create your first list!</option>
                            {{/if}}
                        </select>
                    </div>
                    <div>
                        <label for = "description" style = "width:100%; text-align:left;display:block;">Description:</label>
                        <textarea type="text" name="description" placeholder="My story starts here:" style = "resize: none;width:100%;  border: 1px solid rgb(56, 106, 187); height: 100px;padding:5px;font-size: 20px;-webkit-text-fill-color:black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;border-radius: 10px; justify-content:start; "></textarea>
                    </div>
                        <input type="submit" value="ADD" style = "font-size: 20px; width: 100%; padding-top:10px;padding-bottom:10px; border:1px solid rgb(56, 106, 187); margin-top:15px; -webkit-text-fill-color:rgb(56, 106, 187);font-family: 'Gill Sans Heavy';border-radius: 10px;align-items: center; ">
                    </form>
                    `;
                selectForm.innerHTML = selectString;
            {{else}}
                window.location = "login";
            {{/if}}
        }
    </script>
{{/section}}