<!Doctype>
<html>
    <head>
        {{{_sections.head}}}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="../public/image/logo2.png">
        <link rel="stylesheet"  href="../public/css/layout.css">
    </head>

<body>

     <nav>
        <div id = "logoPlace">
            <a href = "/"><img src = "../public/image/logo.png" alt = "logo" id = "logoNav"/></a>
        </div>
        <div id = "searchBar">
             <form action = "/detail" method = "GET">
                    <div><input type="text" name = "pId" class="form-control" id="searchInput" placeholder="Search Pokémon"></div>       
                    <div><button type="submit" id="searchButton">Submit</button></div>
            </form>
        </div>
        <div id = "userPanel">
            {{#if user}}
			<h3>Logged in as:  <a href = "list">{{user.firstName}}</a></h3>
			{{else}}
	        <h3><a href="login">Log in</a></h3>
			{{/if}}
        </div>
    </nav>

    <section>
        {{{body}}}
    </section>

    <footer>
        <hr style = "margin:0; padding:0;" />
        <div class="footer-content">
            <div>
                <img src = "../public/image/logo.png" alt = "logo" id = "logoFooter"/>
            </div>
            <div>
                <h5>
                With ©My Pokémon Story, you can keep and browse your favorite Pokémon memories.<br/>
                Contact Us<br/>
                Cookie Policy<br/>
                Privacy Policy<br/>
                Site Map<br/>
                <br/>
                Social Sharing<br/>
                <br/>
                Keep our dreams<br/>
                ©My Pokémon Story, Site by Eathen<br/>
                <a href = "https://www.yichenguo.com/">Contact</a> for Legal Reasons
                </h5>
            </div>
        </div>
    </footer>

    <script src="../public/js/layout.js"></script>
    {{{_sections.footer}}}

</body>
</html>